{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container mt-5 text-white text-end m-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Create a fresh CyberSecurity post</h2>
            <form class="post-form" action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <p>Posting as: {{ user.username }}</p>
                <button class="btn btn-primary" type="submit">Create Post</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
            </form>
        </div>
    </div>
</div>



{% endblock %}