{% extends 'base.html' %} 
{% block content %}
{% load static %}


<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="text-primary">{{ post.title }}</h1>
                <!-- Post author goes in these p tags -->
                <p class="post-subtitle text-white">By {{ post.author }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'placeholder_images/placeholder.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content and date created goes inside the card-text. -->
                <!-- The | safe filter inside the template tags is necessary -->
                <p class="card-text">
                    {{ post.body_content | safe }}
                    {{ post.created }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}