{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container mt-4">
    <!-- Display Post Title, Author, and Image -->
    <div class="row">
        <div class="col-12">
            <h1 class="text-primary">{{ post.title }}</h1>
            <p class="text-muted">By {{ post.author }}</p>
            <div class="mb-4">
                {% if "placeholder" in post.image.url %}
                <img src="{% static 'placeholder_images/placeholder.jpg' %}" class="img-fluid rounded" alt="Placeholder image">
                {% else %}
                <img src="{{ post.image.url }}" class="img-fluid rounded" alt="Post image">
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Post Content -->
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="post-content">
                        <p class="card-text">{{ post.body_content|safe }}</p>
                        <small class="text-muted">Published on: {{ post.created }}</small>
                    </div>
                    <hr>
                    <!-- Edit/Delete buttons for the post owner -->
                    {% if user.is_authenticated and post.author == user %}
                    <a href="{% url 'edit_post' post.pk %}" class="btn btn-primary me-2">Edit Post</a>
                    <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete Post</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Like Post Section -->
        <div class="col-md-4 mb-4">
            <form action="{% url 'like_post' slug=post.slug pk=post.id %}" method="POST" class="d-flex align-items-center">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    {% if user in post.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
                <span class="ms-3">{{ post.likes.count }} Likes</span>
            </form>
            
            <a href="{% url 'home' %}" class="btn btn-secondary mt-4">Back</a>
        </div>
    </div>

    <!-- Back to Search Results Button -->
    {% if from_search %}
    <div class="row mb-3">
        <div class="col-md-8">
            <a href="{% url 'post_search' %}?q={{ q|urlencode }}" class="btn btn-secondary mt-4">Back to Search Results</a>
        </div>
    </div>
    {% endif %}

    <!-- Comments Section -->
    <div class="row">
        <div class="col-md-8">
            <h3>Comments</h3>
            <hr>
            {% if not post.comments.all %}
            <p>No Comments yet...</p>
            {% else %}
            {% for comment in comments %}
            <div class="card mb-3 {% if not comment.approved and comment.author == user %}text-secondary{% elif not comment.approved %}d-none{% endif %}">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.author }} <small class="text-muted">{{ comment.created }}</small></h5>
                    <p class="card-text">{{ comment.content|linebreaks }}</p>
                    {% if not comment.approved and comment.author == user %}
                    <p class="text-warning">Hold on! Your comment is awaiting approval.</p>
                    {% endif %}
                    <!-- Edit/Delete Comment -->
                    {% if user.is_authenticated and comment.author == user %}
                    <a href="{% url 'edit_comment' comment.pk %}" class="btn btn-primary me-2">Edit</a>
                    <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Leave a Comment -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h4>Leave a comment</h4>
                    <form id="comment_form" method="post">
                        {{ comment_post|crispy }}
                        {% csrf_token %}
                        <p>Commenting as: <strong>{{ user.username }}</strong></p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% else %}
                    <p>Please <a href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/edit_comments.js' %}"></script>
{% endblock %}
