{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Displaying title, author and image -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="text-primary">{{ post.title }}</h1>
                <!-- Post author goes in these p tags -->
                <p class="post-subtitle text-white">By {{ post.author }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static '/placeholder.jpg' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>

<!-- Displaying Blog Posts -->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content and date created goes inside the card-text. -->
                <!-- The pipe symbol | safe filter inside the template tags is necessary to tell Django that its safe -->
                <p class="card-text">
                    {{ post.body_content | safe }}
                    {{ post.created }}
                </p>
                <p>{% if user.is_authenticated and post.author == user %}
                    <a class="btn btn-primary" href="{% url 'edit_post' post.pk %}">Edit Post</a>{% endif %}
                </p>
                <p>{% if user.is_authenticated and post.author == user %}
                    <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete Post</a>
                    {% endif %}
                </p>
                <br>
                
                <form action="{% url 'like_post' slug=post.slug pk=post.id %}" method="POST">
                    {% csrf_token%}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button> - {{ like_count }}Likes
                </form>
                <br>
                <hr>
                <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>




   <!-- Display number of comments -->
    <div class="row text-white">
        <div class="col-12">
            <strong class="text-white">
                <i class="far fa-comments text-white"></i> {{ comment_no }} 
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Display Comments or no comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 bg-transparent text-white">
            <h3>Comments:</h3>
            <div>{% if not post.comments.all %}
                No Comments yet..{% endif %}</div>
            <div class="card-body">

                {% for comment in comments %}
                <div class="{% if not comment.approved and comment.author == user %}
                text-secondary{% elif not comment.approved %}d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal">
                            {{ comment.created }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.content | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="text-warning">
                        Hold on! your comment is awaiting approval
                    </p>
                    {% endif %}
                    
                    <!-- Editing comments -->
                    {% if user.is_authenticated and comment.author == user %}
                    <a class="btn btn-primary" href="{% url 'edit_comment' post.pk %}">Edit Comment</a>
                    {% endif %}
                    <!-- Deleting comments -->
                    {% if user.is_authenticated and comment.author == user %}
                    <!-- comment_id is a custom attribute-->
                    <button class="btn btn-danger" comment_id="{{ comment.id }}">Delete Comment</button>
                    {% endif %}
                </div>
                <!-- for loop ends here -->
                {% endfor %}
            </div>
        </div>

        <!--Submiting New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h2>Leave a comment:</h2>
                <form id="comment_form" method="post">
                    {{ comment_post | crispy }}
                    {% csrf_token %}
                    <p>Commenting as: {{ user.username }}</p>
                    <button type="submit" class="btn btn-primary" id="submit_btn">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/edit_comments.js' %}"></script>
{% endblock %}